/* google font */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
  margin: 0;
}

body {
  background-color: #2f3542;
  font-family: 'Itim', cursive;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_body {
  width: 90%;
  max-width: 600px;
}

.logo_area,
.total_per_person,
#form {
  padding: 25px 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* logo area style */
.logo_area {
  background-color: #27ae60;
}

.logo_area h2 {
  color: #2c3e50;
  text-align: center;
  line-height: 1em;
  margin: 0;
}

/* form area style */
#form {
  background-color: #34495e;
}

#form label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
#form input {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 12px 15px;
  border: 0;
  border-radius: 25px;
  font-family: 'Itim', cursive;
  background-color: #2c3e50;
  width: 100%;
  color: #fff;
}

.people_area {
  margin-top: 20px;
}
.people_area p {
  font-size: 18px;
  margin-bottom: 15px;
}

.inner_people {
  display: flex;
  justify-content: space-between;
}
.inner_people ul {
  list-style: none;
  display: flex;
}
.inner_people ul li {
  font-size: 30px;
}

#minus_sum {
  background-color: #c0392b;
}

#plus_sum {
  background-color: #27ae60;
}

#minus_sum,
#plus_sum {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
}

#people_sum {
  margin: 10px 20px 0;
}

#calculator {
  background-color: #3498db;
  border: 0;
  padding: 10px 35px;
  font-family: 'Itim', cursive;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

#calculator:hover {
  background-color: #2980b9;
}

/* summary area style */
.total_per_person {
  background-color: #2c3e50;
  margin-bottom: 0px;
  /* display: none; */
}

.total_per_person div {
  display: flex;
  justify-content: space-between;
}
.total_per_person hr {
  border: 2px dashed #ddd;
  margin-bottom: 10px;
}

.total_per_person h2 {
  color: #27ae60;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.total_per_person h5,
.total_per_person h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}
